---
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCP-01YSBC  ATARO-QQQ</title>
  </head>
  <body>
    <div class="text-center">
      <p class="text-sm">警告:</p>
      <h1 class="text-6xl m-0">機密指定</h1>
      <p class="text-sm">YSBCデータベースへの許可無きアクセスは固く禁止されています<br>
        違反者は追跡、特定、照明操作役職につかされます</p>
    </div>
    <p>████の影響によりデザインが崩壊しています。気を付けてください。</p>
    <h2>アイテム番号: SCP-01-YSBC</h2>
    <h2>アイテム名: ATARO-QQQ</h2>
    <p>クリアランスレベル: Restricted</p>
    <p>オブジェクトクラス: Euclid</p>
    <p>撹乱クラス: Dark</p>
    <p>リスククラス: Caution</p>
    <a href="http://scp-jp.wikidot.com/anomaly-classification-system-guide">表記にACSを使用しています。</a>
    <h3>説明</h3>
    <p>当オブジェクトは周囲に███ ███と認識され[編集済み]の放送部として活動しています。</p>
    <p>当該放送部内では異常な頭脳、肉体を用いて様々な活動をしています。</p>
    <h4>当該放送部内での成績</h4>
    <p>様々な大会のリーダー、ラジオ企画の交渉役、[現在調査中]</p>
    <h3>異常性</h3>
    <p>当該オブジェクトは普段からマスクをしているが、マスクを外すと狂気的な顔にし、対象者を恐怖に落とす。</p>
    <p>おそらく髭が濃い、表情が怖い等の理由があげられるが詳細は不明である。</p>
    <p>また、異常な肉体を用いて当該部活に所属してる他の者に[削除済み]をふるう。急な土下座などの行為を行う。</p>
    <h3>対処法</h3>
    <p>遭遇した際はなるべく友好に接する、そもそも接触しない等</p>
    <h3>補遺1</h3>
    <p>当オブジェクトに具体的な異常性が見つからなかったが、YSBC支部長が下記のように発言したためSCPに入れることになった。</p>
    <div class="bg-gray-4">
        <p>いやまぁなんか危ないし入れない?</p>
        <p>それにこの文章だって[削除済み]の[削除済み]だし</p>
        <p>YSBC-SCP対策課兼SCP財団YSBC支部長███</p>
    </div>
  </body>
</html>
