---
import Layout from "../../layouts/layout.astro";
import A from "../../components/A.astro";
---

<Layout title="taisan11のサイト">
  <div>
      <h1>道具箱!!</h1>
      <h2>テキスト類</h2>
      <A here="#">Diff →</A><br/>
      <A here="#">文字量 →</A><br/>
      <A here="#">文字化け →</A><br/>
      <A here="#">Base64 →</A><br/>
  </div>
</Layout>

<style is:global>
</style>
