---
import Layout from "../layouts/layout.astro";
import A from "../components/A.astro";
import SNSButton from "../components/SNSButton.astro";
import GitHub from "../icons/github.svg";
import Zenn from "../icons/zenn.svg";
import Twitter from "../icons/twitter.svg";
---

<Layout title="taisan11のサイト">
  <div>
      <h1>道具箱!!</h1>
      <h2>テキスト類</h2>
      <a>Diff →</a><br/>
      <a>文字量 →</a><br/>
      <a>文字化け →</a><br/>
      <a>Base64 →</a><br/>
  </div>
</Layout>

<style is:global>
</style>
