---
import Layout from "../../layouts/layout.astro";
import A from "../../components/A.astro";
---

<Layout title="taisan11のサイト">
    <div class="nue">
      <h1>道具箱!!</h1>
      <p>筆者のリハビリも兼ねてAIの使用を極力抑えながら少しずつ追加していきます。</p>
      <p>全ての処理はクライアント側で完結しています。</p>
      <h2>テキスト類</h2>
      <A href="#">Diff →</A><br/>
      <A href="#">文字量 →</A><br/>
      <A href="#">文字化け →</A><br/>
      <A href="#">Base64 →</A><br/>
      <h2>その他</h2>
      <A href="/tools/nokoriM">今月の残り →</A><br/>
  </div>
</Layout>

<style is:global>
    .nue {}
    h1 {
        text-align: center
    }
    @media (orientation: landscape) {
        .nue {
            weight: 50vw
        }
    }
</style>
