---
import Layout from "../../layouts/layout.astro";
import A from "../../components/A.astro";
---

<Layout title="taisan11のサイト">
    <div class="nue">
      <A here="/tools">← 戻る</A><br/>
      <div class="c">
          <h2 id="nokori">今月は残り <span class="twoketa">xx</span>.<span class="syosu">xxxxxxxxxx</span>%</h2>
          <p>Github Copilotの使用量の目安にでもしてください。</p>
      </div>
  </div>
</Layout>

<script>
const nokori = document.getElementById("nokori")
function parcentUmekomi() {
  const now = new Date()
  const start = new Date(now.getFullYear(), now.getMonth(), 1);
  const end = new Date(now.getFullYear(), now.getMonth() + 1, 1);

  const total = end - start;
  const remaining = end - now;

  const percentage = (remaining / total) * 100;

  // nokori.innerText = `今月は残り ${percentage}%`
  // nokori.innerText = `今月は残り ${percentage.toFixed(10)}%`
  const nuhe = percentage.toFixed(10).toString().split(".")
  nokori.innerHTML = `今月は残り <span class="twoketa">${nuhe[0]}</span>.<span class="syosu">${nuhe[1]}</span>%`
  window.requestAnimationFrame(parcentUmekomi)
}

window.onload = () => {
  parcentUmekomi()
}
</script>

<style is:global>
    .nue {}
    .c {
        text-align: center;
    }
    /*最初の二桁*/
    .twoketa {
        color:#81E4DA;
        font-size:3rem
    }
    .syosu {
        font-size:1.2rem
    }
    #nokori {
        font-size:2rem
    }
    h1 {
        text-align: center
    }
    @media (orientation: landscape) {
        .nue {
            weight: 50vw
        }
    }
</style>
