---
import Layout from "../../layouts/layout.astro";
import A from "../../components/A.astro";
---

<Layout title="QrDrop by taisan11">
    <div class="nue">
      <A href="/tools">← 戻る</A><br/>
      <div class="c">
          <h2>QrDrop</h2>
          <p>QRcodeを使ってデータを送信するやつです。</p>
          <select name="mode" id="mode" value="halfauto">
              <option value="halfauto">半自動</option>
              <option value="auto">自動</option>
          </select>
          <div class="yoko">
              <div class="upload">
                  <h3>送信</h3>
                  <input type="file" name="file" id="file">
                  <button id="sosin">送信する</button>
              </div>
              <div class="download">
                  <button id="jyusin">受信する</button>
              </div>
          </div>
      </div>
  </div>
</Layout>

<script>
// fileを2000byte事に分割する
document.getElementById("sosin")!.onclick = (e) => {
  const files = (document.getElementById("file") as HTMLInputElement).files
  if (!files||!files.length) {
    console.error("ファイルが無いよう...")
    return
  }
  const file = files.item(0)
}
import {encodeQR} from "qr"
import {
  QRCanvas,
  frontalCamera,
  frameLoop,
} from "qr/dom.js";

const video = document.getElementById("video") as HTMLVideoElement;

const overlay = document.getElementById("overlay") as HTMLCanvasElement;

const qr = new QRCanvas(
  {
    overlay,
  },
  {
    cropToSquare: true,
    overlayTimeout: 500,
  }
);

const camera = await frontalCamera(video);

const cancel = frameLoop(() => {
  const result = camera.readFrame(qr);

  if (result) {
    console.log("QR:", result);
  }
});
document.getElementById("Cancel")!.onclick = () => {
  cancel()
}

const img = document.getElementById("qr")!
document.getElementById("GO")!.onclick = (e) => {
  const text = (document.getElementById("text") as HTMLInputElement).value
  const qr = encodeQR(text, "svg",{version:40,ecc:"low"})
  img.innerHTML = qr
}

</script>

<style is:global>
    .nue {}
    #qr {
        background-color: white;
        width: 90vw;
        display: flex;
        justify-content: center; /* 横中央 */
        align-items: center;     /* 縦中央 */
    }
    .c {
        text-align: center;
    }
    @media (orientation: landscape) {
        .nue {
            width: 50vw;
            margin: 0 auto;
        }
        #qr {
            width: 60%;
        }
    }
</style>
