---
import { getCollection, render } from 'astro:content';
import Layout from "../../layouts/layout.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <article class="Noyokonaga text-base prose xl:text-xl">
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</Layout>

<style is:global>
  :root {
    color:aliceblue;
  }
  @media (orientation: landscape) {
    .Noyokonaga {
      margin: auto 25vw;
    }
  }
</style>