---
import Layout from '../layouts/layout.astro';
import Seika from '../components/Seika.astro';
import Table from '../components/Table.astro';
import A from '../components/A.astro';
---
<Layout title="Contact | taisan11">
  <h1>Contact</h1>
  <p>多すぎる!!</p>
  <p>email: .....?</p>
  <A href="https://github.com/taisan11">github: @taisan11</A><br />
  <A href="https://x.com/taisan11_">Twitter(X): @taisan11_</A><br />
  <A href="https://taisan11.hatenablog.com/">HatenaBlog</A><br />
  <A href="https://pawoo.net/web/accounts/7020633">pawoo: @taisan11</A><br />
  <A href="https://bsky.app/profile/taisan11.bsky.social">BlueSky: @taisan11.bsky.social</A><br />
  <A href="https://www.wantedly.com/users/1345793">Wantedly: @taisan11</A><br />
  <A href="https://qiita.com/taisan11">Qiita: @taisan11</A>
  <A href="https://zenn.dev/taisan11">Zenn: @taisan11</A><br />
</Layout>
