---
import Layout from '../layouts/layout.astro';
import Table from '../components/Table.astro';
import A from '../components/A.astro';
---
<Layout title="taisan11のサイト">
  <h1>taisan11のさいと!!</h1>
  <p>ども!!</p>
  <h2>Profile</h2>
  <p><b>名前:</b>taisan11(たいさん)</p>
  <p><b>好きな技術:</b>Bun,JS&TS,他色々</p>
  <p><b>好きな食べ物:</b>カレーライス</p>
  <p><b>好きなもの:</b>嫌いなもの以外</p>
  <h2>(主に)作ったもの</h2>
  <A href="/works" class="text-xl mb-2">もっと見たい方はこちら!!</A>
  <table>
    <tr>
      <th>名前</th>
      <th>説明</th>
    </tr>
    <tr>
      <td><A href="/">このサイト</A></td>
      <td>自分で作ったよ!!</td>
    </tr>
  </table>
  <h2 id="Contact">Contact</h2>
  <p>ここに乗ってるもの以外は偽物だと思います</p>
  <p>email: .....?</p>
  <h4>SNS達</h4>
  <A href="https://github.com/taisan11">github: @taisan11</A><span style="width:0.2vw"/>
  <A href="https://x.com/taisan11_">Twitter(X): @taisan11_</A><br />
  <A href="https://taisan11.hatenablog.com/">HatenaBlog</A><span style="width:0.1vw"/>
  <A href="https://pawoo.net/web/accounts/7020633">pawoo: @taisan11</A><br />
  <A href="https://bsky.app/profile/taisan11.bsky.social">BlueSky: @taisan11.bsky.social</A><span style="width:0.1vw"/>
  <A href="https://www.wantedly.com/users/1345793">Wantedly: @taisan11</A><br />
  <A href="https://qiita.com/taisan11">Qiita: @taisan11</A><span style="width:0.1vw"/>
  <A href="https://zenn.dev/taisan11">Zenn: @taisan11</A><br />
  <h2>依頼について</h2>
  <p>依頼は主に、Webアプリやツール系を受けつています。<br/>また、軽い動画編集なども行えます<br/>意外となんでもできるのでXのDMに相談してみてください!!</p>
  <h2>相互リンク</h2>
  <p>とりあえず僕のリンクは画像なしです(怠惰)</p>
  <A href="https://taisan11.f5.si/">taisan11のサイト</A><br/>
  <a href="https://sakana11.org/"><img src="https://cdn.sakana11.org/new-banner.png" alt="sakana11のバナー" style="width: 55%; height: auto;"></a>
</Layout>

<style>
  table {
    border-width: 2px;
    border-color: gray;
    border-collapse: collapse;
    border: solid;
  }
  th,td {
    border-width: 2px;
    border-color: gray;
    border: solid;
  }
  h2,h4 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
</style>