---
import Layout from '../layouts/layout.astro';
import Seika from '../components/Seika.astro';
import Table from '../components/Table.astro';
import A from '../components/A.astro';
---
<Layout title="制作物 | taisan11">
  <h1>制作物</h1>
  <h2>Och</h2>
  <p>Ochとは現代的でモダンなスレッドフロート型掲示板です。<br>2chや4chanのようなものです。</p>
  <Seika name="Och" repo="taisan11/och">
    <p>Ochとは現代的でモダンなスレッドフロート型掲示板です。<br>2chや4chanのようなものです。</p>
  </Seika>
</Layout>