---
const {href} = Astro.props
---
<a href={href}><slot/></a>
<style>
    a {
        color:#67AE6E;
        font-weight: 700;
    }
    a:hover {
        color:#4ad47c;
    }
    a:active {
        color:#67AE6E;
    }
    a:visited {
        color:#4ad47c;
    }
</style>