---
interface Props {
  href: string;
  class?: string;
}
const {href, class: className} = Astro.props
---
<a href={href} class={className}><slot/></a>
<style is:global>
    a {
        color:#71c479;
        font-weight: 700;
    }
    a:hover {
        color:#4ae382;
    }
    a:active {
        color:#67AE6E;
    }
    a:visited {
        color:#4ad47c;
    }
</style>