---
---
<table class="min-w-full divide-y ">
    <thead class="">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Column 1
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Column 2
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Column 3
            </th>
        </tr>
    </thead>
    <tbody class="divide-y">
        <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                Data 1
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm">
                Data 2
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm">
                Data 3
            </td>
        </tr>
        <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                Data 4
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm">
                Data 5
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm">
                Data 6
            </td>
        </tr>
    </tbody>
</table>