---
import A from "../components/A.astro"
import Head from "../components/Head.astro"
const { title } = Astro.props;
---

<html lang="ja">
    <Head title={title}></Head>
    <body>
        <header class="flex justify-center items-center flex-col">
            <h1 class="text-4xl font-bold" style="color:#4eb8ff">taisan11のさいと!!</h1>
            <nav class="flex space-x-3 text-size-lg">
            <A href="/">Home</>
            <A href="/blog">Blog</>
            <A href="/#Contact">contact</>
            </nav>
        </header>
        <main class="main">
            <slot/>
        </main>
        <footer>
            <p>©2025 taisan11</p>
            <p>Last Update:AcommitIDA - AcommitAuthorNameA</p>
        </footer>
    </body>
</html>

<style is:global>
    body {
        background-color: rgb(50, 61, 74);
    }
    main {
        margin: 20px auto;
        padding: 20px;
        color: white;
    }
    footer {
        text-align: center;
        margin-top: 20px;
        padding: 15px auto;
        color: white;
    }
</style>