---
import A from "../components/A.astro"
import Head from "../components/Head.astro"
const { title } = Astro.props;
---

<html lang="ja">
    <Head title={title}></Head>
    <body class="bg-gray-6">
        <header class="flex justify-center items-center flex-col">
            <h1 class="text-4xl font-bold">taisan11のさいと!!</h1>
            <nav class="flex space-x-3 text-size-lg">
            <A href="/">links</>
            <A href="/wroks">wroks</>
            <A href="/contact">contact</>
            </nav>
        </header>
        <div class="main">
            <slot/>
        </div>
        <footer class="footer">
            <p>©2025 taisan11</p>
            <p>Last Update:AcommitIDA - AcommitBranchA</p>
        </footer>
    </body>
</html>

<style>
    .main {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(17, 24, 39, 1);
        color: white;
        border-radius: 1rem;
        border-width: 2px;
        border-style: solid;
        border-color: white;
    }
    .footer {
        text-align: center;
        margin-top: 20px;
        padding: 15px auto;
        color: white;
    }
</style>